* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: url(../images/IMAGE.png) no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.header__top {
    height: 74px;
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 17px 0;
}

.header__top-logo {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.top-menu {
    display: flex;
    justify-content: space-around;
    width: 376px;
}

.top-menu__link {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    color: #FFFFFF;
    text-decoration: none;
}

.header__title-block {
    max-width: 940px;
    margin: 110px auto;
    text-align: center;
}

.header__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.header__text {
    margin-top: 20px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;

    color: rgba(255, 255, 255, 0.63);
}

.header__button {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 31px;
    background: #DD783F;
    border-radius: 3px;
    border: 0;
    margin-top: 31px;
    cursor: pointer;
}

.navigation {
    height: 60px;
    background-color: rgb(255, 255, 255, 1);
    display: flex;
    width: 960px;
    justify-content: space-around;
    padding: 9px 0;
    margin: auto;
    align-items: center;
}

.navigation__link {
    text-decoration: none;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #768088;
}

.container {
    background: #F7F7F7;
}


.top-block__title {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
    padding-top: 60px;
    margin: 0 auto 20px;
    height: 104px;
    border-bottom: 1px solid rgba(222, 222, 222, 1);
    max-width: 188px;
}

.top-block__block {
    display: flex;
    max-width: 940px;
    justify-content: space-between;
    margin: auto;
}

.block {
    width: 460px;
    height: 280px;
}

.block__left {
    background: url(../images/roaf_ahead.png) no-repeat;
    padding: 20px 20px 15px;
}

.block__text-block {
    padding-top: 53px;
}

.block__text-block_out {
    padding-top: 79px;
}

.block__title {
    padding-top: 58px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    /* identical to box height, or 111% */


    color: #FFFFFF;
    margin-bottom: 6px;
}

.block__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */


    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 12px;
}

.autor__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    /* identical to box height, or 292% */


    color: rgba(255, 255, 255, 0.7);
}

.block__right {
    background: url(../images/from_top_down.png) no-repeat;
}

.block__autor {
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    margin: auto;
}

.autor {
    display: flex;
    width: 112px;
    justify-content: space-between;
    align-items: center;
}

.autor__photo {
    width: 26px;
    height: 26px;
}

.block__emblema {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 6px 9px;
}

.Adventure  {
    max-width: 87px;
    background: #DD783F;
}
